<%= image_tag("east-4.jpg", class: "hero") %>
<h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<p>We are a small company nested in the foothills of the nearby mountains. Everything is family run. We hope you will like our selection.</p>

