<h2>Thank you! </h2>

<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->

<p>Return <%= link_to "Home", root_path %></p>

</div><!-- / panel -->
