table {
	border-collapse: collapse;
	border: 1px solid black;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

th {
	height: 30px;
	padding-left: 10px;
	text-align: left;
	width-max: 30%;
}


th, td {
	vertical-align: center;
	border-bottom: 1px solid #ddd;
	padding: 15px;
}


.new_product {
	padding-left: 2em;
	padding-top: 1.25em;
	padding-bottom: 1.5	em;
}


.new_product label {
	color: dark gray;
	font-family: sans-serif;
}

.products_show {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

.rated {
	text-align: center;
}

.rating {
	text-align: center;
}



