footer {
	margin-top: 50px;
	text-align: center;
}


.hero {
	max-width: 100%
}

//font!//

h1 {
	font-family: 'Shrikhand', curisve;
	color: Silver;
	font-size: 3em;
	text-align: center;
}

h2 {
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
}

p {
	text-align: center;
}

footer {
	color: Silver;
}

